@import './base.css';
@import './header.css';
@import './table.scss';

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #181818;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #838383;
    border-radius: 5px;
    padding: 5px;
  }
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.content {
  margin: 0 auto;
}