@import './base.css';
@import './header.css';

* {
  box-sizing: border-box;
}

body {
  /*font-family: 'Roboto',sans-serif;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content:center;*/
  /*height: 100vh;*/
  /*background-color: #151b29;*/
}

.nav {
  background-color: #151b29;
  height: 70px;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsl(235, 97%, 53%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(235, 100%, 37%, 0.2);
  }
}

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
